body{
    background-color: #E2FFD8;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

p{
    margin: 0px;
}


main{


}

section{
    size: auto;
    display: inline-block;
    width: 138px;
    height: 18px;
    background-color: #9FE7BC;
    margin: 10px 0px 10px 0px;
    padding: 8px;
    border-radius: 10px;
    border-style: solid;
    

}

.um{
    width: 135px;
    height: 18px;
    margin: 10px 0px 10px 13px;
}
.dois{
    width: 133px;
    height: 18px;
}
.tres{
    width: 120px;
    height: 18px;
}
.quatro{
    width: 53px;
    height: 18px;
}
.cinco{
    width: 80px;
    height: 18px;
}
.seis{
    width: 44px;
    height: 18px;
}

