@charset "UFT-8";

* {
    margin: 0px;
    padding: 0px;
}


@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Raleway:wght@100&family=Sriracha&display=swap');




header{
    color: rgb(255, 255, 255);
    font-family: 'Raleway';
    background-color: black;
    text-align: center;
    padding: 50px;
}

h1{
    font-size: 10vw;
}

header p a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    &:hover{
        text-decoration: underline;
    }
}

.poesia{
    font-family: cursive;
    margin: 20px 0px 20px 40px;
    padding: 80px;
}